html{
  font-family:Helvetica;
  text-align: center;
}
.banners{
  background-image:url("../images/background.png");
  color: white;

}
h1{
  font-size: 70px;
  font-weight: bold;
  background-image: url(./resources/images/background.png);
}

.links{
  list-style-type: none;
  font-size: 18px;
  text-decoration: underline;
}
