html{
  font-family:Helvetica;
  text-align: center;

}
.banners{
  background-image:url("../images/background.png");
  color: white;

}
h1{
  font-size: 70px;
  font-weight: bold;

}

.links{
  list-style-type: none;
  font-size: 18px;
  text-decoration: underline;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-size: 14px;
}

.footer{
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
